<config>
  <!-- Folding Core -->
  <core-priority v='low'/>
  <cpu-usage v='100'/>
  <smp v='true'/>

  <!-- Network -->
  <proxy v=':8080'/>

  <!-- Process Control -->
  <fork v='true'/>
  <priority v='high'/>
  <respawn v='true'/>
  <service v='true'/>

  <!-- User Information -->
  <passkey v='82cdc64762a44c2882cdc64762a44c28'/>
  <team v='240445'/>
  <user v='vPeteWalker'/>
  
   <!-- Web Server -->
   <web-allow v='0/0'/>
   <web-enable v='true'/>
   
</config>
