<config>
  <!-- Folding Slot Configuration -->
  <gpu v='false'/>
  <power v='full'/>
  <next-unit-percentage v='90'/>
  <max-packet-size v='big'/>

  <!-- User Information -->
  <passkey v='82cdc64762a44c2882cdc64762a44c28'/>
  <team v='240445'/>
  <user v='vPeteWalker'/>

  <!-- Folding Slots -->
  <slot id='0' type='CPU'/>
  
  <!-- HTTP Server -->
  <allow v='127.0.0.1 192.168.1.0/24'/>
  <http-addresses v='0:7396'/>

  <!-- Remote Command Server -->
  <command-enable v='true'/>
  <password v='Fold4Nutanix!'/>
  <command-port v='36330'/>
  <command-deny-no-pass v='0/0'/>
</config>
